node_modules
test/.sims/
.sims/
out
dist
*.tgz
.opencode/
coverage
*.lcov

logs
*.log
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

.env
.env.development.local
.env.test.local
.env.production.local
.env.local

.eslintcache
.cache
*.tsbuildinfo

.opencode/plugins/
.opencode/commands/

.idea

.DS_Store
test-design.html
test-ss.png
*.traineddata
false
